.MMM-PDFSlideshow {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.PDF-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#pdfContainer {
  border-radius: 15px;
  overflow-y: auto;
  opacity: 0.95;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto;

}

#pdfContainer canvas {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
  margin: 0 auto;
}

.pdf-controls {
  margin-top: 5px;
}

.pdf-controls button {
  background: none;
  border: none;
  font-size: 1.5em;
  margin: 0 5px;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s;
}

.pdf-controls button:hover {
  color: #ccc;
}
